html,
body {

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', "Helvetica Neue", Lato, Roboto,
    "PingFang SC", "Microsoft JhengHei", "Microsoft YaHei",
    sans-serif;
    color: white;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.075em;
    line-height: 1.8em;
    align-items: center;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

/*------header-----*/
body {
    overflow-x: hidden;
    overflow-y: auto;
    /* 需要设置高度以使视差生效 */
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: relative;*/
    background-image: url("../img/back.jpg");
}
#page_header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 0.5em 4em;
    font-size: 2em;

}

/*屏幕适配*/
@media screen and (max-width: 1024px) {
    header h1 {
        font-size: 2.5em;
        padding: 1em 1.5em;
    }
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
        padding: 1em 1em;
    }
}


main {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #000000;
    height: 2000px;

}

.layout {
    flex: 1 auto;
    padding: 2rem 2rem;
    margin: 0 auto;
    display: flex;
    /*justify-content: space-evenly;*/
    max-width: 1200px;
    width: 100%;
    height: 100%;
}

.article-container {
    width: 70%;
    box-shadow: 0 0 22px 3px rgba(255, 255, 255, 0.18);
    padding: 0 2em;

}

.aside-content {
    width: 25%;
    box-shadow: 0 0 22px 3px rgba(255, 255, 255, 0.18);
    padding: 0 2em;
}

@media screen and (min-width: 1000px) {
    .aside-content {
        margin-left: 15px;
    }
}
@media screen and (max-width: 1000px) {
    .layout {
        flex-wrap: wrap;
    }

    .article-container {
        width: 100%;
        transition: 0.4s ease-in-out;
    }

    .aside-content {
        width: 100%;
        margin-top: 15px;
        transition: 0.4s ease-in-out;
    }
}

::-webkit-scrollbar {
    width: 0.55rem;
    height: 0.4rem;
    background: rgba(0,0,0);
}

::-webkit-scrollbar-thumb {
    background: #444444;
}
